<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/contacts.css">
    <link rel="shortcut icon" href="../assets/images/logo.png" type="image/x-icon">
    <title>Libera Di Essere - Contatti</title>
</head>
<body>
    <nav id="navbar">
        <div id="position">Località Rilevata: <mark>Italia, Faenza</mark></div>
        <ul class="navigation">
            <li><a class="main-link" href="./home.html">Home</a></li>
            <li><a class="main-link" href="./video.html">Video</a></li>
            <li><a class="main-link" href="./crea_video.html">Crea Video</a></li>
            <li><a class="main-link" href="./contatti.html">Contatti</a></li>
            <li><a class="main-link" href="./team.html">Team</a></li>
            <li><a class="main-link" href="#" onclick="localStorage.clear();top.location = '../'" id="logout">Logout</a></li>
        </ul>
    </nav>
    <main>
        <h1>Hai bisogno di aiuto?</h1>
        <p>
            Sono attive le procedure di attivazione in emergenza H24 in collaborazione con le Forze dell’Ordine, il Pronto Soccorso ed i Servizi alla    Comunità dell’Unione della Romagna Faentina.
            Il centralino telefonico di SOS Donna è sempre attivo durante i consueti orari:
            
            <table class="table-orari">
                <tbody>
                    <tr>
                        <td>lunedì e venerdì</td>
                        <td>14.30 – 18.30</td>
                    </tr>
                    <tr>
                        <td>martedì, mercoledì e giovedì</td>
                        <td>9-13</td>
                    </tr>
                    <tr>
                        <td>sabato e domenica</td>
                        <td>9-13</td>
                    </tr>
                </tbody>
            </table>
            Per informazioni e colloqui potete chiamare il numero di SOS Donna <mark>0546 22060</mark> oppure scrivere tramite mail a <mark>info@sosdonna.com</mark> o tramite i social network: Facebook Sos Donna Faenza e Instagram <mark>sosdonna_faenza</mark>.
            E' attivo inoltre il numero nazionale <mark>1522</mark>. 
            <br><br>
            <b>Non sei sola!</b>
        </p>
        <br>
        
        <p>“<i>Chiedere aiuto non è mai facile, ma è il primo passo per uscire da una situazione di violenza. Troppe persone, per paura, vergogna o senso di colpa, restano in silenzio e non sanno a chi rivolgersi. Nessuno dovrebbe sentirsi solo in un momento così difficile.</i></p>
        <br>
        <p><i>Questa sezione è stata creata proprio per questo: per offrire un supporto concreto e immediato. In base alla tua posizione, qui troverai i numeri di emergenza e i centri di aiuto più vicini a te, dove potrai trovare ascolto, protezione e assistenza. Ogni contatto che forniamo è affidabile e pensato per aiutarti in modo sicuro e discreto.</i></p>
        <br>
        <p><i>Non importa quanto grande o piccolo possa sembrarti il problema: se ti senti in pericolo, se hai bisogno di parlare con qualcuno o se conosci una persona che potrebbe essere in difficoltà, sappi che esistono professionisti pronti ad aiutarti. Non devi affrontare tutto da solo.</i></p>
        <br>
        <p><i>Chiedere aiuto non è una debolezza, è un atto di coraggio. Non aspettare, non rimandare: se hai bisogno, fai il primo passo oggi stesso. Qui troverai tutte le informazioni necessarie per ricevere il supporto che meriti.”</i></p>
        <p class="author">~Il team di Libera Di Essere</p>
    </main>
    <script>
        if(!localStorage.getItem("login")){
            localStorage.setItem("login", 1)
        }
    </script>
</body>
</html>