<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/new-video.css">
    <link rel="shortcut icon" href="../assets/images/logo.png" type="image/x-icon">
    <title>Libera Di Essere - Nuovo Video</title>
</head>
<body>
    <nav id="navbar">
        <div id="position">Località Rilevata: <mark>Italia, Faenza</mark></div>
        <ul class="navigation">
            <li><a class="main-link" href="./home.html">Home</a></li>
            <li><a class="main-link" href="./video.html">Video</a></li>
            <li><a class="main-link" href="./crea_video.html">Crea Video</a></li>
            <li><a class="main-link" href="./contatti.html">Contatti</a></li>
            <li><a class="main-link" href="./team.html">Team</a></li>
            <li><a class="main-link" href="#" onclick="localStorage.clear();top.location = '../'" id="logout">Logout</a></li>
        </ul>
    </nav>
    <main>
        <h1>Crea un nuovo video!</h1>
        <h2>Condividi la tua voce, fai la differenza!</h2>
        <p>
            Hai una storia, una testimonianza o un messaggio importante da <mark>condividere</mark>? Questo spazio è dedicato a tutti coloro che vogliono sensibilizzare e far sentire la propria voce contro la violenza di genere.<br>
            Carica il tuo <mark>video</mark> e aiutaci a diffondere consapevolezza, dare forza a chi ne ha bisogno e promuovere un cambiamento reale. Ogni testimonianza può ispirare, informare e salvare vite.<br>
            Unisciti a noi, insieme possiamo fare la differenza!
        </p>
        <div id="nuovo_evento">
            <form novalidate id="new">
                <label for="video">Video</label>
                <input type="file" id="video" name="video" accept="video/mp4,video/x-m4v,video/*">
        
                <label for="title">Titolo</label>
                <input type="text" id="title" name="title" maxlength="255">
                <label for="title" class="error">Inserire un titolo valido</label>
        
                <label for="descr">Descrizione</label>
                <textarea id="descr" name="descr" maxlength="1024"></textarea>
                <label for="descr" class="error">Descrizione troppo corta</label>
        
                <label for="indirizzo">Account</label>
                <input type="text" id="indirizzo" name="indirizzo" maxlength="255">
                <label for="indirizzo" class="error">Inserire un indirizzo valido</label>
        
                <label for="ticket_price">Nome</label>
                <input type="text" id="indirizzo" name="indirizzo" maxlength="255">
                <label for="ticket_price" class="error">Inserire un prezzo valido</label>
        
                <label for="crowd_counter">Cognome</label>
                <input type="text" id="indirizzo" name="indirizzo" maxlength="255">
                <label for="crowd_counter" class="error">Inserire un numero valido</label>
        
                <label for="event_date">Data di pubblicazione</label>
                <input type="date" id="event_date" name="event_date">
                <label for="event_date" class="error">Inserire una data valida</label>
        
                <label for="end_time">Orario di pubblicazione</label>
                <input type="time" id="end_time" name="end_time">
                <label for="end_time" class="error">Inserire una ora valida</label>
    
                <button id="send">CREA</button>
            </form>
        </div>
    </main>
    <script>
        if(!localStorage.getItem("login")){
            localStorage.setItem("login", 1)
        }
    </script>
</body>
</html>