:root{
    --white: #ffffff;
    --main: #ff204d;
    --bg: #fafafa;
    --text: #2B292E;
    --gray: #808080;
    --svg-yellow: #FFAE03;
    --svg-orange: #FC5800;
    --pri-font: 'Poppins', sans-serif;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-moz-selection { /* Code for Firefox */
    color: var(--bg);
    background: var(--main);
}
::selection {
    color: var(--bg);
    background: var(--main);
}
/*GENERAL CSS*/
a{
    text-decoration: none;
}
img{
    display: block;
}
img.img-fluid{
    width: 100%;
    height: 100%;
}
mark{
    background-color: transparent;
    color: var(--main);
}
.main-link{
    color: var(--main);
}
.main-link:hover{
    text-decoration: underline;
}
.bg-color{
    color: var(--bg);
}
/*CUSTOM*/
body{
    font-family: var(--pri-font);
    background-color: var(--bg);
}
main{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}